<section class="education-content">
    <div class="education-content banner">
        <h1>Education</h1>
        <!-- <p>Resume<i class="fas fa-arrow-right"></i>Education</p> -->
    </div>
    <div class="education-content" id="courses">
        <h5 class="title text-center">Courses</h5><hr>
        <div class="row d-flex">
            <div class="col-sm-4">   
                <ul>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/311/" target="_blank">Object Oriented Programming</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/731/" target="_blank">Software Engineering</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/305/" target="_blank">Data Structure</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/688/" target="_blank">Advance Algorithm</a></li>
                </ul>    
            </div>
            <div class="col-sm-4">
                <ul>    
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/633/" target="_blank">Computer Security</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/713/" target="_blank">Applied Cryptography</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/mathematics/MTH/404/" target="_blank">Statistics II</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/mathematics/MTH/310/" target="_blank">Calculus II</a></li>
                </ul>    
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/613/" target="_blank">Human Computer Interaction</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/721/" target="_blank">Artificial Intelligence</a></li>
                    <li><a href="https://www.ryerson.ca/calendar/2020-2021/courses/computer-science/CPS/844/" target="_blank">Data Mining</a></li>         
                </ul>
            </div>
        </div>        
    </div>
    <div class="education-content" id="academic-projects">
        <h5 class="title text-center">Academic Projects</h5><hr>
        <div class="row">
            <div class="col-sm-4 align-self-center">
                <img class="img-fluid" src="/assets/images/places/rucs.JPG" alt="resposive-img">
                <p>Fig: CS Dept. Ryerson</p>
            </div>
            <div class="col-sm-8">
                <h6>Cypress System (Agile Programming)</h6>
                <ul>
                    <li>Collaborated with group members to design the sprints.</li>
                    <li>Handled the majority work of this group project, both front and back.</li>
                    <li>Hosted locally with XAMPP.</li>
                    <li>Implemented Google Maps APIs to locate the reported site.</li>
                    <li>Gained Cross Browser development experience.</li>
                </ul>
                <h6>TourBot (Human Computer Interaction)</h6>
                <ul>
                    <li>A prototype of a User Interface to guide the visitors at Zoo.</li>
                    <li>Implemented concepts of Human-Computer Interaction and usability testing.</li>
                    <li>Collaborated with group members to design the sprints.</li>
                    <li>Learned how to develop Graphical User Interfaces using a specific User Interface Management System.</li>
                </ul>
            </div>
        </div>            
    </div>        
</section>


