<div class="footer-content">
    <div class="container sponsors">
        <h5>Sponsors & Partners*</h5>
        <div class="row sponsorRow d-flex justify-content-center">
            <img class="img-fluid" src="/assets/images/logo/sponsors/download1.jpg">
            <img class="img-fluid" src="/assets/images/logo/sponsors/download3.jpg">
            <img class="img-fluid" src="/assets/images/logo/sponsors/download42.jpg">
          <!-- <img class="img-fluid" src="/assets/images/logo/sponsors/download52.jpg"> -->
        </div>
    </div>    
    <div class="jumbotron mb-0 footer">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <a routerLink="/"><h5>Profile</h5></a>
                <p>Copyright @2020 All rights reserved</p>
            </div>
            <div class="col-sm-4">
                <h5>Join Us</h5>
                <p>Stay updated with our latest trends</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Email address">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div> 
                </div>
            </div>
            <div class="col-sm-4">
                <h5>Follow Me</h5>
                <p>Let us be social</p>
                <a href="https://www.linkedin.com/in/chimepalden/" target="_blank" class="btn-sm">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/batuk100" target="_blank" class="btn-sm">
                    <i class="fab fa-facebook"></i>
                </a>
                <a routerLink="#" routerLinkActive="active" class="btn-sm">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/palden08/" target="_blank" class="btn-sm">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>


