<section class="about-content">
    <div class="container banner">
        <h1>About</h1>
        <p>Home<i class="fas fa-arrow-right"></i>About</p>
    </div>
</section>
<section class="about-content">        
    <div class="container content">
        <div class="row d-flex justify-content-center">
            <p>This single-page application is built with:</p>
            <ul>
                <i class="fas fa-angle-right"></i><a href='https://angular.io/' target='_blank'> Angular</a> and <a href='http://www.typescriptlang.org/' target='_blank'>TypeScript</a> for client-side code.<br>
                <i class="fas fa-angle-right"></i><a href='http://getbootstrap.com/'target='_blank'> Bootstrap and Sass</a> for layout and styling.
            </ul>        
        </div>
    </div>
</section>