<section class="resume-content">
    <div class="resume-content banner">
        <h1>Resume</h1>
        <!-- <p>Home<i class="fas fa-arrow-right"></i>Resume</p> -->
    </div>  
    <div class="resume-content summary">
        <h5 class="title">Summary</h5><hr>
        <ul>
            <li>Proven working experience with a solid understanding of the fundamentals of software development.</li>
            <li>Experience with Web Services, Angular Frameworks, Continuous Integration and Relational/Non-Relational Databases.</li>
            <li>Knowledge of containerization and cloud computing.</li>
            <li>Interested and Familiar with Artificial Intelligence, Data Mining and Automation.</li>
            <li>Blend of technical and people skills as endured from leadership roles in community works.</li>
            <li>Driven and passionate Computer Science graduate.</li>
        </ul>
    </div>
    <div class="resume-content education">
        <h5 class="title">Education</h5><hr>
        <div class="dropright">
            <a class="dropdown-toggle" data-toggle="dropdown">
                Bachelor of Computer Science
            </a>
            <div class="dropdown-menu border-0">
                <a class="dropdown-item text-info" routerLink="academicprojects">Academic Projects</a>
                <a class="dropdown-item text-info" routerLink="courses">Courses</a>
            </div>
        </div>
        <p>Ryerson University</p>
    </div>    
    <div class="resume-content experience">
        <h5 class='title'>Professional Experiences</h5><hr>
            <h6 class="title">Front-End Developer</h6>
            <p>Incepta Solutions, Toronto June-August, 2018</p>
            <ul>
                <li>Created an API Portal using Drupal 8 and Bootstrap.</li>
                <li>Self-taught Drupal 8 for the project and finished it within the allocated duration.</li>
                <li>Managed the files using FileZilla, a Cross-Platform FTP application.</li>
                <li>The portal has API Catalogue page, API Details page with features like Native Login, Mobile friendly UX and Full text search capabilities.</li>
                <li>Worked remotely with minimum guidance from supervisor throughout the design and development of the project.</li>
                <li>Did the documentation and design for the Portal's Release note and brochure.</li>
            </ul>
            <h6 class="title">Junior Programmer</h6>
            <p>Regal Auctions Ltd, Calgary May-August, 2016</p>
            <ul>
                <li>Updated inventory to help classify the vehicles sold from the ones available in the stock.</li>
                <li>Maintained and upgraded the website, added functionalities to help customers to get better details of the vehicles available for sale.</li>
                <li>Worked at front and back end using PHP, MYSQL, JavaScript and CSS.</li>
            </ul>
            <h6 class="title">Freelance Programmer</h6>
            <p>Self-employed, May, 2016 - Present</p>
            <ul>
                <li>Writing well designed and efficient code by using the best software development practices.</li>
                <li>Creating website layout/user interface by using standard HTML/CSS practices.</li>
                <li>Staying plugged into emerging technologies/industry trends and applying them into practice.</li>
            </ul>
    </div>
    <div class="resume-content knowledge">
        <h5 class="title">Technical Knowledges</h5><hr>
            <h6 class="title">Languages</h6>
            <p>TypeScript, JavaScript, Java, PHP, MySql, NoSQL, Html, CSS and Sass.</p>
            <h6 class="title">Frameworks</h6>
            <p>Angular, Bootstrap, .Net Core, Entity Framework Core and Drupal.</p>
            <h6 class="title">Other Tools</h6>
            <p>Visual Studio Code, Git, Slack, Postman, Docker, Travis CI and Mockplus.</p>
    </div>
    <div class="resume-content experience">
        <h5 class="title">Other Professional Experiences</h5><hr>
            <h6 class="title">Outreach & Event Co-ordinator</h6>
            <p>DreBu (NGO - <a href="http://drebu.wordpress.com/" target="_blank">Website</a>)</p>
            <p>Parkdale, Toronto June-August, 2017</p>
            <ul>
                <li>Organized the Annual TYPS Himalayan networking conference - 2017 and 150 youth attended the event.</li>
                <li>Created a successful strategy for youth engagements and volunteers' management.</li>
                <li>Invited key stakeholders (politicians, community leaders, influencers, youth leaders).</li>
                <li>Mr. Arif Virani, MP of Parkdale-HighPark riding commenced the event. </li>
            </ul>
            <h6 class="title">Supervisor</h6>
            <p>Freshii</p>
            <p>College Park, Toronto June-August, 2017</p>
            <ul>
                <li>Managed the restaurant during evening shift until closed.</li>
                <li>Overlooked the serving and maintianed friendly environment for our customers to enjoy their visit.</li>
                <li>Took care of the monetary transactions and proper closing at the end of the day.</li>
            </ul>
    </div>
    <div class="resume-content volunteering">
        <h5 class="title">Volunteering</h5>
            <h6 class="title">Vice President (2017-2018)</h6>
            <h6 class="title">Secretary (2015-2017)</h6>
            <p>Students for a Free Tibet, Ryerson University <a href="https://www.facebook.com/sftryerson/timeline" target="_blank">Facebook a/c</a></p>
            <p>We are a chapter of Students for a Free Tibet (SFT), a network of young people and activists
                around the world working in solidarity with the Tibetan people in their struggle for freedom and
                independence.               
            </p>
    </div>      
</section>


